{% extends 'base.html' %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 Not Found</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
    <style>
      #div {
        background: #CBF3F0;
        background: -webkit-linear-gradient(135deg, #A4E4E0, #fff); 
        background: linear-gradient(135deg, #A4E4E0, #fff);
        height: 100%;
      }
    </style>
</head>
<body>
  <div id="div">
    <br/>
    <center>
      <h1 style="font-family: 'Alata', sans-serif;">404 Error</h1>
      <p style="font-family: 'Alata', sans-serif;">Page Not Found - Try Again...</p>
    </center>
  </div>
</body>
</html>
{% endblock %}