<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 Not Found</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
</head>
<body>
  <br/>
  <center>
    <h1 style="font-family: 'Alata', sans-serif;">404 Error</h1>
    <p style="font-family: 'Alata', sans-serif;">Page Not Found - Try Again...</p>
  </center>
</body>
</html>