{% extends 'base.html' %}

{% block content %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <script src="{{ url_for('static', filename='codemirror/lib/codemirror.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='codemirror/lib/codemirror.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='codemirror/theme/idea.css') }}">
        <script src="{{ url_for('static', filename='codemirror/mode/python/python.js') }}"></script>
        <script src="{{ url_for('static', filename='codemirror/addon/edit/closebrackets.js') }}"></script>
        <link rel="stylesheet" href="https://pyscript.net/releases/2024.11.1/core.css">
        <script type="module" src="https://pyscript.net/releases/2024.11.1/core.js"></script>
        <script src="https://unpkg.com/blockly/blockly_compressed.js"></script>
        <script src="https://unpkg.com/blockly/blocks_compressed.js"></script>
        <script src="https://unpkg.com/blockly/javascript_compressed.js"></script>
        <script src="https://unpkg.com/blockly/python_compressed.js"></script>
        <script src="https://unpkg.com/blockly/msg/en.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">

        <style>
            body {
                background: #c5cace;
                background: -webkit-linear-gradient(to bottom, #eef2f3, #c5cace); 
                background: linear-gradient(to bottom, #eef2f3, #c5cace); 
            }

            .blocklyToolboxDiv {
                background: #50C9C3; 
                background: -webkit-linear-gradient(to right, #96DEDA, #50C9C3); 
                background: linear-gradient(to right, #96DEDA, #50C9C3);
                color: white;
            }

            .blocklyToolbox {
                font-family: 'Alata', sans-serif;
            }
        </style>
    </head>
    <body>
        <form method="POST" action="/result" id="code">
            <div id="run">
                <div class="editor">
                    <textarea id="editor" name="code">{{ code }}</textarea> 
                </div>
                <button type="submit" class="run__btn" id="run__btn">Run</button>
                <input type="text" placeholder="Project Name" id="project_name">
                <button id="save_btn">Save</button>
                <p style="color: gray; margin-left: 10px; margin-top: 25px;">Console</p>
                <div id="console">
                    <button id="block2code">Convert</button>
                    <div style="margin-left: 2%; margin-top: 5px; width: 93%;">
                        <py-script terminal>{{ code }}</py-script>
                    </div>
                    <textarea hidden id="code-editor">{{ code }}</textarea>
                </div>
            </div>
        </form>
        <div id="blocklyDiv" style="height: 90%; width: 57%;"></div>

        <script type="module">
            import { initializeApp } from "https://www.gstatic.com/firebasejs/10.2.0/firebase-app.js";
            import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.2.0/firebase-analytics.js";
            import { getFirestore, addDoc, collection, where, getDocs, getDoc, doc, query, updateDoc } from "https://www.gstatic.com/firebasejs/10.2.0/firebase-firestore.js";


            const firebaseConfig = {
              apiKey: "AIzaSyAb--Az6qZv6vqVX2w1LYgmZ146CdG4-Jg",
              authDomain: "pyexec-d92d3.firebaseapp.com",
              projectId: "pyexec-d92d3",
              storageBucket: "pyexec-d92d3.appspot.com",
              messagingSenderId: "144284379633",
              appId: "1:144284379633:web:3294d55eacbed120603c50",
              measurementId: "G-GLFEGW9KN3"
            };
          
            const app = initializeApp(firebaseConfig); 
            const analytics = getAnalytics(app);
            const db = getFirestore();
            
            var editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
                mode: "python",
                theme: "idea",
                lineNumbers: true,
                autoCloseBrackets: true,
            });
            editor.setSize("100%","100%")

            Blockly.thing;
            Blockly.libraryBlocks['block_type'];
            javascript.javascriptGenerator;

            const toolbox = {
                kind: 'categoryToolbox',
                contents: [
                    {
                    kind: 'category',
                    name: 'Logic',
                    colour: '#5094fc',
                    contents: [
                        { kind: 'block', type: 'controls_if' },
                        { kind: 'block', type: 'logic_compare' },
                        { kind: 'block', type: 'logic_operation' },
                        { kind: 'block', type: 'logic_negate' },
                        { kind: 'block', type: 'logic_boolean' }
                    ]
                    },
                    {
                    kind: 'category',
                    name: 'Loops',
                    colour: '#10bc8c',
                    contents: [
                        { kind: 'block', type: 'controls_repeat_ext' },
                        { kind: 'block', type: 'controls_whileUntil' },
                        { kind: 'block', type: 'controls_for' },
                        { kind: 'block', type: 'controls_forEach' }
                    ]
                    },
                    {
                    kind: 'category',
                    name: 'Math',
                    colour: '#60c45c',
                    contents: [
                        { kind: 'block', type: 'math_number' },//g
                        { kind: 'block', type: 'math_arithmetic' },//g
                        { kind: 'block', type: 'math_single' },//g
                        { kind: 'block', type: 'math_trig' },//g
                        { kind: 'block', type: 'math_constant' },//g
                        { kind: 'block', type: 'math_number_property' },//g
                        { kind: 'block', type: 'math_round' },//g
                        { kind: 'block', type: 'math_random_int' },
                        { kind: 'block', type: 'math_random_float' }
                    ]
                    },
                    {
                    kind: 'category',
                    name: 'Text',
                    colour: '#ffbc04',
                    contents: [
                        { kind: 'block', type: 'text' },
                        { kind: 'block', type: 'text_join' },
                        { kind: 'block', type: 'text_append' },
                        { kind: 'block', type: 'text_length' },
                        { kind: 'block', type: 'text_isEmpty' },
                        { kind: 'block', type: 'text_indexOf' },
                        { kind: 'block', type: 'text_charAt' },
                        { kind: 'block', type: 'text_getSubstring' },
                        { kind: 'block', type: 'text_changeCase' },
                        { kind: 'block', type: 'text_trim' },
                        { kind: 'block', type: 'text_print' },
                        { kind: 'block', type: 'text_prompt' }
                    ]
                    },
                    {
                    kind: 'category',
                    name: 'Lists',
                    colour: '#9966ff',
                    contents: [
                        { kind: 'block', type: 'lists_create_with' },
                        { kind: 'block', type: 'lists_repeat' },
                        { kind: 'block', type: 'lists_length' },
                        { kind: 'block', type: 'lists_isEmpty' },
                        { kind: 'block', type: 'lists_indexOf' },
                        { kind: 'block', type: 'lists_getIndex' },
                        { kind: 'block', type: 'lists_setIndex' },
                        { kind: 'block', type: 'lists_split' },
                        { kind: 'block', type: 'lists_sort' },
                        { kind: 'block', type: 'lists_reverse' }
                    ]
                    },
                    {
                    kind: 'category',
                    name: 'Variables',
                    colour: '#ff8c1a',
                    custom: 'VARIABLE'
                    },
                    {
                    kind: 'category',
                    name: 'Functions',
                    colour: '#ff6680',
                    custom: 'PROCEDURE'
                    }
                ]
                };

            const workspace = Blockly.inject(
                document.getElementById('blocklyDiv'), { renderer: 'zelos', toolbox: toolbox, theme: 'zelos', grid: {spacing: 20, length: 3, colour: '#ccc', snap: true}, });


                document.getElementById("block2code").addEventListener("click", function(e){e.preventDefault(); editor.setValue(python.pythonGenerator.workspaceToCode(workspace))})

            const uid = localStorage.getItem("uid");


            window.onload=function(){
                const projects = collection(db, 'Projects');
                const code = document.getElementById("editor").value;
                const state = Blockly.serialization.workspaces.save(workspace);

                editor.setValue(localStorage.getItem("code"))
                Blockly.serialization.workspaces.load(localStorage.getItem("state"), workspace);

                const words = [
                    "aerie", "alliance", "assembly", "bale", "band",
                    "barrel", "batch", "bed", "bevy", "board", "brood",
                    "building", "bunch", "business", "cackle", "camp",
                    "cast", "catch", "cauldron", "charm", "chattering",
                    "chime", "choir", "circle", "clan", "class",
                    "clattering", "cloud", "clowder", "club", "cluster",
                    "coalition", "colony", "combination", "committee", 
                    "company", "conglomerate", "congregation", "congress",
                    "conspiracy", "convocation", "corporation", "coven",
                    "crew", "culture", "dazzle", "descent", "doctrine",
                    "drift", "drove", "exaltation", "faction", "faculty",
                    "family", "flight", "fling", "flock", "flush", "gaggle",
                    "galaxy", "game", "gathering", "gobble", "group", "gulp",
                    "herd", "hive", "intrigue", "jury", "kettle", "kit",
                    "knot", "labor", "lamentation", "league", "lease", "lineup",
                    "litter", "murmuration", "mustering", "nest", "orchestra",
                    "order", "organization", "ostentation", "outfit", "pace",
                    "pack", "pandemonium", "parade", "parliament", "party",
                    "phalanx", "piteousness", "pod", "posse", "prickle",
                    "pride", "quiver", "raffle", "romp", "rookery", "sawt",
                    "school", "scoop", "scream", "scury", "sedge", "sentence",
                    "shadow", "shiver", "shrewdness", "sleuth", "sloth",
                    "squad", "staff", "suit", "swarm", "team", "thunder", "tower",
                    "troop", "troupe", "trust", "unit", "venue", "whisp", "whiting",
                    "wisdom", "zeal"
                ];

                const getWord = () => {
                    const raw = words[Math.floor(Math.random() * Math.floor(words.length))];
                    const stylish = raw.charAt(0).toUpperCase() + raw.slice(1);; 
                    return stylish;
                }

                const genWords = () => {
                    const project_name = `${getWord()} ${getWord()} ${getWord()}`;
                    return project_name;
                }

                const name = document.getElementById("project_name");


                if (localStorage.getItem("project") === "new") {
                    let projectsId;

                    name.value = genWords();

                    addDoc(projects, {
                        uid: uid,
                        name: name.value,
                        code: code,
                        state: state  
                    });

                    const q = query(collection(db, "Projects"), where("name", "==", name.value));

                    async function getDocId() {
                        const querySnapshot = await getDocs(q);
                        querySnapshot.forEach((docname) => {
                            async function getDocData() {
                                const docRef = doc(db, "Projects", docname.id);
                                const docSnap = await getDoc(docRef);
                                const data = docSnap.data();

                                localStorage.setItem("pid", docname.id);

                                //editor.setValue(data.code);
                                //Blockly.serialization.workspaces.load(data.state, workspace);

                                editor.setValue(localStorage.getItem("code"))
                                Blockly.serialization.workspaces.load(localStorage.getItem("state"), workspace);                                

                                projectsId = docname.id;

                                document.getElementById("save_btn").addEventListener("click", function(e){
                                    e.preventDefault();

                                    localStorage.setItem("code", code)
                                    localStorage.setItem("state", state)

                                    let saved = false;

                                    async function update() {
                                        if (saved === false) {
                                            const update = await updateDoc(docRef, {
                                                code: code,
                                                state: state,
                                                name: name.value
                                            });

                                            localStorage.setItem("docRef", docRef)
                                            saved = true;
                                        } else {
                                            //localStorage.setItem("code", code)
                                            //localStorage.setItem("state", state)
                                            const update = await updateDoc(localStorage.getItem("docRef"), {
                                                code: code,
                                                state: state,
                                                name: name.value
                                            });

                                            localStorage.setItem("docRef", docRef)
                                        }
                                    }

                                    update();
                                })
                            }       
                            getDocData();
                        });
                    }
                    getDocId();        

                    window.addEventListener('beforeunload', function(event) {
                            localStorage.removeItem("project");
                            localStorage.removeItem("uid");
                            localStorage.removeItem("login");

                            localStorage.setItem("name", name.value);

                            const existingProjectsId = JSON.parse(localStorage.getItem("projectsIdArray"));
                            const projectIdArray = existingProjectsId || [];

                            function addProject(pid) {
                                if (projectIdArray.includes(pid) === false) {
                                    projectIdArray.push(pid);
                                }      
                                localStorage.setItem("projectsIdArray", JSON.stringify(projectIdArray));
                            }

                            addProject(projectsId);
                    }, false);
                } else {
                    let projectsId2;
                    name.value = localStorage.getItem("name");

                    localStorage.removeItem("name")


                    async function getDocData() {
                        const docRef = doc(db, "Projects", localStorage.getItem("pid"));
                        const docSnap = await getDoc(docRef);
                        const data = docSnap.data();

                        projectsId2 = localStorage.getItem("pid");

                        //editor.setValue(data.code)
                        //Blockly.serialization.workspaces.load(data.state, workspace);

                        editor.setValue(localStorage.getItem("code"))
                        console.log(localStorage.getItem("state"))
                        Blockly.serialization.workspaces.load(localStorage.getItem("state"), workspace);

                        document.getElementById("save_btn").addEventListener("click", function(e){
                            e.preventDefault();

                            localStorage.setItem("code", code)
                            localStorage.setItem("state", state)

                            let saved = false;

                            async function update() {
                                if (saved === false) {
                                    await updateDoc(docRef, {
                                        code: code,
                                        state: state,
                                        name: name.value
                                    });

                                    localStorage.setItem("docRef", docRef)
                                    saved = true;
                                } else {
                                    //localStorage.setItem("code", code)
                                    //localStorage.setItem("state", state)
                                    const update = await updateDoc(localStorage.getItem("docRef"), {
                                        code: code,
                                        state: state,
                                        name: name.value
                                    });

                                    localStorage.setItem("docRef", docRef)
                                }
                            }


                            update();
                        })

                        window.addEventListener('beforeunload', function(event) {
                            localStorage.removeItem("uid");
                            localStorage.removeItem("login");

                            localStorage.setItem("name", name.value);

                            const existingProjectsId2 = JSON.parse(localStorage.getItem("projectsIdArray"));
                            const projectIdArray2 = existingProjectsId2 || [];

                            function addProject2(pid) {
                                if (projectIdArray2.includes(pid) === false) {
                                    projectIdArray2.push(pid);
                                }      
                                localStorage.setItem("projectsIdArray", JSON.stringify(projectIdArray2));
                            }

                            addProject2(projectsId2);
                        }, false);
                    } 
                            
                    getDocData();
                }

            }
        </script>
    </body>
    </html>
{% endblock %}