{% extends 'base.html' %}

{% block content %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <script src="{{ url_for('static', filename='codemirror/lib/codemirror.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='codemirror/lib/codemirror.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='codemirror/theme/idea.css') }}">
        <script src="{{ url_for('static', filename='codemirror/mode/python/python.js') }}"></script>
        <script src="{{ url_for('static', filename='codemirror/addon/edit/closebrackets.js') }}"></script>
        <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css">
        <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
    </head>
    <body>
        <div class="side-bar">
                <p style="color: gray; margin-left: 25px; margin-top: 10px;">Events</p>
                <button class="events-btn" id="ops">&nbsp;On program start&nbsp;</button>
                <button class="events-btn" id="wkip">&nbsp;When ___ key is pressed&nbsp;</button>
                <button class="events-btn" style="font-size: 13px;" onclick="prompt('This snippet need to be added to your code:', 'print(x)')">&nbsp;Say ____&nbsp;</button>
                <button class="events-btn" style="font-size: 13px;" onclick="prompt('This snippet need to be added to your code:', 'input(x)')">&nbsp;Ask ____&nbsp;</button>
                <p style="color: gray; margin-left: 25px; margin-top: 10px;">Loops</p>
                <button class="loops-btn" id="rt">&nbsp;Repeat ___ times&nbsp;</button>
                <button class="loops-btn" id="wi">&nbsp;While _____ is ____&nbsp;</button>
                <button class="loops-btn" id="il">&nbsp;Infinite loop&nbsp;</button><br>
                <button class="loops-btn" id="w">&nbsp;Wait ____&nbsp;</button>
                <button class="loops-btn" id="itd">&nbsp;If _____ then do ____&nbsp;</button>
                <button class="loops-btn" id="etd">&nbsp;Else _____ then do ____&nbsp;</button>
                <button class="loops-btn" id="elif">&nbsp;Elif _____ then do ____&nbsp;</button>
                <p style="color: gray; margin-left: 25px; margin-top: 10px;">Operators</p>
                <button class="operators-btn" id="plus">&nbsp;_ + _&nbsp;</button>
                <button class="operators-btn" id="minus">&nbsp;_ - _&nbsp;</button>
                <button class="operators-btn" id="time">&nbsp;_ * _&nbsp;</button>
                <button class="operators-btn" id="divide">&nbsp;_ /_&nbsp;</button>
                <button class="operators-btn" id="bigger">&nbsp;_ > _&nbsp;</button>
                <button class="operators-btn" id="smaller">&nbsp;_ < _&nbsp;</button>
                <button class="operators-btn" id="equal">&nbsp;_ = _&nbsp;</button>
                <button class="operators-btn" id="not">&nbsp;_ != _&nbsp;</button>
                <button class="operators-btn" id="rand">&nbsp;Pick random from _ to _&nbsp;</button>
                <p style="color: gray; margin-left: 25px; margin-top: 10px;">Variables</p>
                <button class="variables-btn" id="st">&nbsp;Set ____ to ____&nbsp;</button>
                <button class="variables-btn" id="ct" style="margin-bottom: 10px;">&nbsp;Change ____ to ____&nbsp;</button>
                <p style="color: gray; margin-left: 25px; margin-top: 10px;">Functions</p>
                <button class="functions-btn" id="d">&nbsp;Do _________&nbsp;</button>
                <button class="functions-btn" id="r">&nbsp;Return _____&nbsp;</button>
                <button class="functions-btn" id="us">&nbsp;Use ____ function&nbsp;</button><br><br>
                
        </div>
        <form action="/result" method="POST" id="code">
            <div class="editor">
                    <textarea id="editor" name="code">{{ code }}</textarea>
            </div>
            <div id="run">
                <button type="submit" class="run__btn" id="run__btn">Run</button>
                <input type="text" placeholder="Project Name" id="project_name">
                <button id="save_btn">Save</button>
                <div id="console">
                    <p style="color: gray; margin-left: 10px; margin-top: 25px;">Console</p>
                    <div style="margin-left: 2%; margin-top: 25px; width: 93%;">
                        <py-script id="result">{{ code }}</py-script>
                    </div>
                    <textarea hidden id="code-editor">{{ code }}</textarea>
                </div>
            </div>
        </form>

        <script type="module">
            import { initializeApp } from "https://www.gstatic.com/firebasejs/10.2.0/firebase-app.js";
            import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.2.0/firebase-analytics.js";
            import { getFirestore, addDoc, collection, where, getDocs, getDoc, doc, query, updateDoc } from "https://www.gstatic.com/firebasejs/10.2.0/firebase-firestore.js";


            const firebaseConfig = {
              apiKey: "AIzaSyAb--Az6qZv6vqVX2w1LYgmZ146CdG4-Jg",
              authDomain: "pyexec-d92d3.firebaseapp.com",
              projectId: "pyexec-d92d3",
              storageBucket: "pyexec-d92d3.appspot.com",
              messagingSenderId: "144284379633",
              appId: "1:144284379633:web:3294d55eacbed120603c50",
              measurementId: "G-GLFEGW9KN3"
            };
          
            const app = initializeApp(firebaseConfig);
            const analytics = getAnalytics(app);
            const db = getFirestore();
            
            var editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
                mode: "python",
                theme: "idea",
                lineNumbers: true,
                autoCloseBrackets: true,
            });
            editor.setSize("100%","100%")

            const uid = localStorage.getItem("uid");


            window.onload=function(){
                const projects = collection(db, 'Projects');
                const code = document.getElementById("editor").value;

                const words = [
                    "aerie", "alliance", "assembly", "bale", "band",
                    "barrel", "batch", "bed", "bevy", "board", "brood",
                    "building", "bunch", "business", "cackle", "camp",
                    "cast", "catch", "cauldron", "charm", "chattering",
                    "chime", "choir", "circle", "clan", "class",
                    "clattering", "cloud", "clowder", "club", "cluster",
                    "coalition", "colony", "combination", "committee", 
                    "company", "conglomerate", "congregation", "congress",
                    "conspiracy", "convocation", "corporation", "coven",
                    "crew", "culture", "dazzle", "descent", "doctrine",
                    "drift", "drove", "exaltation", "faction", "faculty",
                    "family", "flight", "fling", "flock", "flush", "gaggle",
                    "galaxy", "game", "gathering", "gobble", "group", "gulp",
                    "herd", "hive", "intrigue", "jury", "kettle", "kit",
                    "knot", "labor", "lamentation", "league", "lease", "lineup",
                    "litter", "murmuration", "mustering", "nest", "orchestra",
                    "order", "organization", "ostentation", "outfit", "pace",
                    "pack", "pandemonium", "parade", "parliament", "party",
                    "phalanx", "piteousness", "pod", "posse", "prickle",
                    "pride", "quiver", "raffle", "romp", "rookery", "sawt",
                    "school", "scoop", "scream", "scury", "sedge", "sentence",
                    "shadow", "shiver", "shrewdness", "sleuth", "sloth",
                    "squad", "staff", "suit", "swarm", "team", "thunder", "tower",
                    "troop", "troupe", "trust", "unit", "venue", "whisp", "whiting",
                    "wisdom", "zeal"
                ];

                const getWord = () => {
                    const raw = words[Math.floor(Math.random() * Math.floor(words.length))];
                    const stylish = raw.charAt(0).toUpperCase() + raw.slice(1);; 
                    return stylish;
                }

                const genWords = () => {
                    const project_name = `${getWord()} ${getWord()} ${getWord()}`;
                    return project_name;
                }

                const name = document.getElementById("project_name");


                if (localStorage.getItem("project") === "new") {
                    let projectsId;

                    name.value = genWords();

                    addDoc(projects, {
                        uid: uid,
                        name: name.value,
                        code: code  
                    });

                    const q = query(collection(db, "Projects"), where("name", "==", name.value));

                    async function getDocId() {
                        const querySnapshot = await getDocs(q);
                        querySnapshot.forEach((docname) => {
                            async function getDocData() {
                                const docRef = doc(db, "Projects", docname.id);
                                const docSnap = await getDoc(docRef);
                                const data = docSnap.data();

                                localStorage.setItem("pid", docname.id);

                                projectsId = docname.id;

                                console.log(document.getElementById("editor").value)

                                document.getElementById("save_btn").addEventListener("click", function(e){
                                    e.preventDefault();

                                    let saved = false;

                                    async function update() {
                                        if (saved === false) {
                                            const update = await updateDoc(docRef, {
                                                code: document.getElementById("code-editor").value,
                                                name: name.value
                                            });

                                            localStorage.setItem("docRef", docRef)
                                            saved = true;
                                        } else {
                                            const update = await updateDoc(localStorage.getItem("docRef"), {
                                                code: document.getElementById("code-editor").value,
                                                name: name.value
                                            });

                                            localStorage.setItem("docRef", docRef)
                                        }
                                    }

                                    update();
                                })
                            }       
                            getDocData();
                        });
                    }
                    getDocId();        

                    window.addEventListener('beforeunload', function(event) {
                            localStorage.removeItem("project");
                            localStorage.removeItem("uid");
                            localStorage.removeItem("login");

                            localStorage.setItem("name", name.value);

                            const existingProjectsId = JSON.parse(localStorage.getItem("projectsIdArray"));
                            const projectIdArray = existingProjectsId || [];

                            function addProject(pid) {
                                if (projectIdArray.includes(pid) === false) {
                                    projectIdArray.push(pid);
                                }      
                                localStorage.setItem("projectsIdArray", JSON.stringify(projectIdArray));
                            }

                            addProject(projectsId);
                    }, false);
                } else {
                    let projectsId2;
                    name.value = localStorage.getItem("name");

                    localStorage.removeItem("name")


                    async function getDocData() {
                        const docRef = doc(db, "Projects", localStorage.getItem("pid"));
                        const docSnap = await getDoc(docRef);
                        const data = docSnap.data();

                        projectsId2 = localStorage.getItem("pid");

                        document.getElementById("editor").value = data.code;

                        document.getElementById("save_btn").addEventListener("click", function(e){
                            e.preventDefault();

                            let saved = false;

                            async function update() {
                                        if (saved === false) {
                                    const update = await updateDoc(docRef, {
                                        code: document.getElementById("code-editor").value,
                                        name: name.value
                                    });

                                    localStorage.setItem("docRef", docRef)
                                    saved = true;
                                } else {
                                    const update = await updateDoc(localStorage.getItem("docRef"), {
                                        code: document.getElementById("code-editor").value,
                                        name: name.value
                                    });

                                    localStorage.setItem("docRef", docRef)
                                }
                            }


                            update();
                        })

                        window.addEventListener('beforeunload', function(event) {
                            localStorage.removeItem("uid");
                            localStorage.removeItem("login");

                            localStorage.setItem("name", name.value);

                            const existingProjectsId2 = JSON.parse(localStorage.getItem("projectsIdArray"));
                            const projectIdArray2 = existingProjectsId2 || [];

                            function addProject2(pid) {
                                if (projectIdArray2.includes(pid) === false) {
                                    projectIdArray2.push(pid);
                                }      
                                localStorage.setItem("projectsIdArray", JSON.stringify(projectIdArray2));
                            }

                            addProject2(projectsId2);
                        }, false);
                    } 
                            
                    getDocData();
                }

            }


            document.getElementById("ops").addEventListener("click", function(){
                prompt("This snippet need to be added to your code:", "if __name__ == '__main__':")
            });

            document.getElementById("rt").addEventListener("click", function(){
                prompt("This snippet need to be added to your code:", "for i in range(x):")
            });

            document.getElementById("wi").addEventListener("click", function(){
                prompt("This snippet need to be added to your code:", "while x:")
            });

            document.getElementById("il").addEventListener("click", function(){
                prompt("This snippet need to be added to your code:", "while True:")
            });

            document.getElementById("w").addEventListener("click", function(){
                prompt("This snippet need to be added to your code:", "import time | time.sleep(x)")
            });

            document.getElementById("itd").addEventListener("click", function(){
                prompt("This snippet need to be added to your code:", "if x:")
            });

            document.getElementById("etd").addEventListener("click", function(){
                prompt("This snippet need to be added to your code:", "else:")
            });

            document.getElementById("elif").addEventListener("click", function(){
                prompt("This snippet need to be added to your code:", "elif y:")
            });

            document.getElementById("plus").addEventListener("click", function(){
                prompt("This snippet need to be added to your code:", "x + y")
            });

            document.getElementById("minus").addEventListener("click", function(){
                prompt("This snippet need to be added to your code:", "x - y")
            });

            document.getElementById("time").addEventListener("click", function(){
                prompt("This snippet need to be added to your code:", "x * y")
            });

            document.getElementById("divide").addEventListener("click", function(){
                prompt("This snippet need to be added to your code:", "x / y")
            });

            document.getElementById("bigger").addEventListener("click", function(){
                prompt("This snippet need to be added to your code:", " x > y")
            });

            document.getElementById("smaller").addEventListener("click", function(){
                prompt("This snippet need to be added to your code:", "x < y")
            });

            document.getElementById("equal").addEventListener("click", function(){
                prompt("This snippet need to be added to your code:", "x == y")
            });

            document.getElementById("not").addEventListener("click", function(){
                prompt("This snippet need to be added to your code:", "x != y")
            });

            document.getElementById("rand").addEventListener("click", function(){
                prompt("This snippet need to be added to your code:", "import random | random.randint(x,y)")
            });

            document.getElementById("wkip").addEventListener("click", function(){
                prompt('This snippet need to be added to your code:', 'input("Press a key:")')
            });

            document.getElementById("st").addEventListener("click", function(){
                prompt('This snippet need to be added to your code:', 'myVar = x')
            });

            document.getElementById("ct").addEventListener("click", function(){
                prompt('This snippet need to be added to your code:', 'myVar = y')
            });

            document.getElementById("d").addEventListener("click", function(){
                prompt('This snippet need to be added to your code:', 'def x(y):')
            });

            document.getElementById("r").addEventListener("click", function(){
                prompt('This snippet need to be added to your code:', 'return x')
            });

            document.getElementById("us").addEventListener("click", function(){
                prompt('This snippet need to be added to your code:', 'x(y)')
            });
        </script>
    </body>
    </html>
{% endblock %}