{% extends 'base.html' %}

{% block content %}

    <div class="hero" id="home">
      <div class="hero__container">
        <h1 class="hero__heading">Write your <span>code</span></h1>
        <p class="hero__description">with Pyexec</p>
        <button class="main__btn"><a href="/explore">Explore</a></button>
      </div><br><br><br>
      <p class="hero__description" style="font-size: 75px; margin-left: 35px;">What's Pyexec?</p>
      <img src="{{ url_for('static', filename='Capture d’écran 2023-09-24 183934.png') }}" width="324.67" height="223.67" style="margin-left: 65%; box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; margin-top: 150px;">
      <p style="color: #818589; margin-left: 35px; margin-top: -340px;">

        Get ready to dive into the exciting world of programming and<br> unleash your creativity. Whether you are a beginner or a amateur<br> developer, we have curated a vast array of resources to<br> help you learn and enhance your programming skills.<br><br>

        Our platform offers a comprehensive selection of programming<br> languages and technologies, catering to all interests and levels of<br> expertise. From the foundation of programming like Google Blockly to<br> Python and Javascript and even to advanced topics like data analytics or<br> artificial intelligence, we have something for everyone.<br><br>

        Featuring a supportive community of learners and volunteer<br> instructors, you'll have opportunities to connect with peers, ask<br> questions, and collaborate on coding challenges. We believe in the<br> power of collaboration and strive to create an environment where<br> you can learn from others and share your knowledge.<br><br>

        Whether you're looking to kickstart your programming journey,<br> enhance your career prospects, or simply explore a new hobby, our<br> platform is your gateway to success. So, what are you waiting for?<br> Join us today and embark on an exciting learning adventure in the<br> world of programming!<br><br>
      </p>     
    </div>
{% endblock %}